<div class="container-fluid" align=left>
    <form>
      <div class="form-group">
            <label>Your Name *</label><br/>

            <table width=100%>
                    <tr>
                       <td><input type="text" class="form-control"></td>
                       <td><input type="text" class="form-control"></td>
                       
                    </tr>
                    
                    <tr>
                            <td><label width=10>First Name</label></td>
                            <td><label width=10>Last Name</label></td>
                         </tr>
                 </table>
      </div>
  
      <div class="form-group">
            <label>Email*</label><br/>
            <input type="email" class="form-control">
        </div>
  
        <div class="form-group">
            <label>Date and Time you noticed this bug*</label><br/>
            
          </div>
          <div class="datetime-local">
                  <input type="datetime-local"
                         placeholder="Datepicker"
                         class="form-control"
                         bsDatepicker>
                </div>
  
  
                <div class="form-group">
                        <label>Impact*</label><br/>
                        <select class="custom-select">
                                <option ></option>
                                 <option >LOW</option>
                                 <option >HIGH</option>
                               </select>
                     </div>
         
  

                     <div class="form-group">
                            <label>Detail Explaintion of bug*</label><br/>
                            <textarea class="form-control"></textarea>
                         </div>
         
           
  
            
    </form>   
  <div>